
      <section class="callto-action-area section">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-9">
        <h1 class="text-white">Got Impressed to our features</h1>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <a class="btn btn-cta" href="#">Get a free Quote</a>
        </div>
        </div>
        </div>
      </section>