
    <section class="video-area pb-5 mb-5" id="video">
        <div class="container">
        <div class="row justify-content-center">
        <div class="video-section section col-lg-12">
        <div class="text-wrap">
        <h1 class="text-white">Explore ourself in a new way</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <div class="play-btn-wrap">
        <a href="https://player.vimeo.com/video/14592941?color=00a650&title=0&byline=0&portrait=0" data-toggle="modal" data-target="#homeVideo" onclick="playVid()" class="play-btn">
        <img src="images/play-btn.png" alt=""> Watch Video
        </a>
  
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>