

    <footer class="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-md-8 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">About us</h2>
                            <p>ATTOMUS is an advanced technology company offering security services, technology applications, and management consultancy for corporations and government entities in the UK and globally.</p>
                                <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Services</h2>
                                            {{ if .Site.Menus.main }}                                           
                                                <ul class="list-unstyled">                                                
                                                    {{ range sort .Site.Menus.main }}
                                                        {{ if and .HasChildren (eq .Name "Services") }}  
                                                            {{ range .Children }}
                                                                <li><a href="{{ .URL }}" class="py-1 d-block">{{ .Name }}</a></li>
                                                            {{ end }}
                                    
                                                        {{ end }}
                                                    {{ end }}
                                                </ul>
                                                {{ end }}
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Discover</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="/about-us" class="py-1 d-block">About us</a></li>
                                                <li><a href="/contact-us" class="py-1 d-block">Contract us</a></li>
                                                <li><a href="/terms" class="py-1 d-block">Terms &amp; Conditions</a></li>
                                                <li><a href="/privacy" class="py-1 d-block">Privacy</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Partners</h2>
                                            <ul class="list-unstyled">
                                                {{ if .Site.Menus.main }}                                           
                                                <ul class="list-unstyled">                                                
                                                    {{ range sort .Site.Menus.main }}
                                                        {{ if and .HasChildren (eq .Name "Partners") }}  
                                                            {{ range .Children }}
                                                                <li><a href="{{ .URL }}" class="py-1 d-block">{{ .Name }}</a></li>
                                                            {{ end }}
                                    
                                                        {{ end }}
                                                    {{ end }}
                                                </ul>
                                                {{ end }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright">Copyright 2021 © All Rights Reserved</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-md-5 py-4 aside-stretch-right pl-lg-5">                  
                <div style="clear: both">
                    <a class="twitter-timeline" 
                       data-lang="en" 
                       data-width="500" 
                       data-theme="light" 
                       data-link-color="#00a99d"
                       data-show-replies="false" 
                       data-tweet-limit="1" 
                       data-chrome="nofooter no header"
                       href="https://twitter.com/AttomusHQ?ref_src=twsrc%5Etfw" >
                       Tweets by AttomusHQ
                    </a>
                    </div>
                    <br>
                    <div>
                    <a class="twitter-follow-button" align="center"
                       href="https://twitter.com/AttomusHQ?ref_src=twsrc%5Etfw" >
                        Follow us here!
                    </a>
                    </div>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    
                </div>
            </div>
        </div>
    </footer>



<!-- Home Video Modal -->
<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()">X</button>
  <div class="embed-responsive embed-responsive-16by9">
    <video id="gossVideo" class="embed-responsive-item" controls="controls" poster="http://www.gossettmktg.com/video/dangot.png">
      <source src="http://www.gossettmktg.com/video/dangot.mp4" type="video/mp4">
      <source src="http://www.gossettmktg.com/video/dangot.webm" type="video/webm">
      <source src="http://www.gossettmktg.com/video/dangot.ogv" type="video/ogg">
      <object type="application/x-shockwave-flash" data="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="353" height="190">
        <param name="movie" value="https://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        <param name="allowFullScreen" value="true">		<param name="wmode" value="transparent">
        <param name="flashVars" value="config={'playlist':['http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.png',{'url':'http%3A%2F%2Fwww.gossettmktg.com%2Fvideo%2Fdangot.mp4','autoPlay':false}]}">
        <img alt="Big Buck Bunny" src="http://www.gossettmktg.com/video/dangot.png" width="353" height="190" title="No video playback capabilities, please download the video below">
      </object>
    </video>
  </div>
</div>
</div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<script>
  $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>