<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ">
                <span class="subheading">Partnerships </span>
                <h2 class="mb-3">Our Partnerships</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <section class="customer-logos slider">

                        <div class="slide">
                            <a href="http://www.homeoffice.gov.uk">
                                <img src="img/home-office-logo-png-transparent-256x221.png"
                                    class="cld-responsive" alt="UK Home Office">
                                <p>UK Home Office</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="https://fco.gov.uk">
                                <img src="img/Foreign-Commonwealth-Office-1-256x221.jpg"
                                    class="cld-responsive" alt="UK Foreign and Commonwealth Office">
                                <p>Foreign & Commonwealth Office</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="http://www.qinetiq.com">
                                <img src="/img/Boeing-Defence-256x221.jpg"
                                    class="cld-responsive" alt="Boeing Defence">
                                <p>Boeing Defence</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="http://www.met.police.uk">
                                <img src="/img/Metropolitan-Police-1-256x221.jpg"
                                    class="cld-responsive" alt="Metropolitan Police Force">
                                <p>Metropolitan Police</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="http://mod.gov.uk">
                                <img src="/img/Ministry-of-Defence-256x221.jpg"
                                    class="cld-responsive" alt="UK Ministry of Defence">
                                <p>Ministry of Defence</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="http://qinetiq.com">
                                <img src="/img/qinetiq.svg"
                                    class="cld-responsive" alt="QinetiQ">
                                <p>QinetiQ</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="http://www.bnpparibas.co.uk/en/">
                                <img src="/img/q5uKr-3d_400x400-256x221.jpg"
                                    class="cld-responsive" alt="BNP Paribas Bank">
                                <p>BNP Paribas</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="https://www.parliament.uk/lords/">
                                <img src="/img/X8-chCh2_400x400-256x221.jpg"
                                    class="cld-responsive" alt="UK House of Lords">
                                <p>UK House of Lords</p>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="https://www.parliament.uk/business/commons/">
                                <img src="/img/CUrjULQI_400x400-256x221.jpg"
                                    class="cld-responsive" alt="UK House of Commons">
                                <p>UK House of Commons</p>
                            </a>
                        </div>
                </section>
            </div>
        </div>
  </div>
</section>