<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6  align-items-center d-none d-sm-block">
                <p class="mb-0 phone pl-md-2">
                    <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a> 
                    <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end">
                <div class="social-media navbar__search">
                    <p class="mb-0 d-flex text-center">                    
                        <a href="https://twitter.com/attomushq" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="https://linkedin.com/company/attomushq" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i class="sr-only">Dribbble</i></span></a>
                        <a href="mailto:support@attomus.com" class="d-flex align-items-center justify-content-center"><span class="fa fa-envelope"><i class="sr-only">Instagram</i></span></a>
                        <a href="https://support.attomus.com" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-question"><i class="sr-only">Dribbble</i></span></a>                    
                        <a href="/blog/index.xml" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-rss"><i class="sr-only">Dribbble</i></span></a>
                        
                        <a class="search__toggle js-search__toggle pt-1">                            
                            <span class="show"  id="searchShow"><i class="fa fa-search"></i></span>
                            <span class="" id="searchClose"><i class="fa fa-times"></i></span>            
                        </a>
                    
                    </p>
               
                </div>
            </div>
        </div>
    </div>
</div>

