{{ partial "header" . }}

<main>

    {{  $background := .Params.feat | printf "background-image: url(/img/%s);" }}
    <div class="services__header" style="{{ $background | safeCSS }}">
        <div class="services__blur">

            <h2>{{ .Title }}</h2>
            <p><a href="/posts">Blog</a> / {{ .Title }}</p>

        </div>
    </div>

    <!-- <h2 class="default-title">{{ .Title }}</h2> -->
    <div class="blog">
        <div class="blog__content singleblog">
            <!-- Post content -->
                            
                        <h3>{{ .Title }}</h3>
                        {{ .Content }}                        
                    
                
            <!-- /Post content -->
        </div>
    </div>

</main>




{{ partial "footer.html" . }}

