<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Secure Business Messaging App | Semafore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "semafore/fonts/icomoon/style.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/css/bootstrap.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "semafore/css/jquery-ui.css" | relURL }}">
    <link rel="stylesheet" href="{{ "semafore/css/owl.carousel.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "semafore/css/owl.theme.default.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "semafore/css/owl.theme.default.min.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/css/jquery.fancybox.min.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/css/bootstrap-datepicker.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/fonts/flaticon/font/flaticon.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/css/aos.css" | relURL }}">

    <link rel="stylesheet" href="{{ "semafore/css/style.css" | relURL }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <style>
        #list-builder {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #333;
          filter: alpha(opacity=80);
          z-index: 2000;
        opacity: 0.8;
          display: none;
      }
      
      #popup-box {
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #911e26;
          color: #FFFFFF;
          width: 100%;
          max-width: 650px;
          padding: 30px;
          border: 10px solid #FFFFFF;
          display: none;
          z-index: 3000;
      }
      
      #popup-close {
          position: absolute;
          top: -25px;
          right: -25px;
          cursor: pointer;
          width: 25px;
      }
      
      #popup-box h1 {
          margin: 0;
      }
      
      #popup-box form {
          margin-bottom: 0px;
      }
      
      #popup-box input {
          padding: 10px;
          border: 1px solid #333;
          width: 40%;
      }
      
      #popup-box button {
          padding: 10px;
          border: 1px solid #333;
      }

      .mobile-close-button {
        display: block;
      }

      .list-unstyled li a{
        color: gray !important;
      }


      @media (max-width: 720px) {
        
      }


      .mobile-close-button {
        display: block;
        
      }
      
      @media only screen and (max-width: 1100px) {
        .pushed-image {
          display: none;
        }
      }
      @media only screen and (max-width: 720px) {
        .subscribe-buttons {
          float: left;
          clear: both;
          margin-bottom: 15px;
          cursor: pointer;
        }
        .subscribe-input {
          width: 100%;
          float: left;
          clear: both;
        }

        #popup-box input {
          margin-bottom: 15px;
          border: 1px solid #333;
          width: 100%;
        }

        #popup-close {
          display: none
        }
        .mobile-close-button {
          display: block;
        }

        .pushed-image {
          display: none;
        }
      }

      @media only screen and (min-width: 720px) {
        
        .subscribe-buttons {
          
          cursor: pointer;
        }

        .mobile-close-button {
          display: none;
        }

        .subscribe-buttons {
          clear: none;
        }
      }
      
    </style>

    <script>
        $(document).ready(function() {

          var delay = 300; // milliseconds
      
          

          $(".subscribe").click(() => {
            $("#list-builder").delay(delay).fadeIn("fast", () => {
            
            });
            $("#popup-box").fadeIn("fast", () => {});
          });
          

          $("#popup-close,.mobile-close-button").click(() => {
              $("#list-builder, #popup-box").hide();
              localStorage.setItem("list-builder", (new Date()).getTime());
          });
      
      });
    </script>
    {{ template "_internal/google_analytics.html" . }}
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
      <div id="list-builder"></div>
      <div id="popup-box" style="display: none">
          <img src="{{ "/img/semafore/close-red.png" | relURL }}" id="popup-close" width="20" />
          <div id="popup-box-content">
              <h1>Semafore Product Trial</h1>
              <br>
              <p>
                Semafore is a product that your team will like while keeping your IT department peaceful
              </p>
              <br>
              <form id="popup-form" action="https://www.getrevue.co/profile/attomus/add_subscriber" method="post" name="revue-form" target="_blank">
                  <input type="hidden" name="list" value="key_list_etc" />
                  <input type="text" class="subscribe-input" placeholder="Full Name" name="member[first_name]" id="member_first_name" />
                  <input type="text" class="subscribe-input" placeholder="Email Address" type="email" name="member[email]" id="member_email" />
                  <button type="submit" class="subscribe-buttons" value="Subscribe" name="member[subscribe]" id="member_submit">Subscribe</button>
                  <button type="button" name="close" class="subscribe-buttons mobile-close-button">Close</button>
                  
              </form>
          </div>
      </div>
      
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-12 text-center mb-4 mt-5">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Semafore<span class="text-primary">.</span> </a></h1>
          </div>
      </div>
    </div>
    <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner" style="border-bottom: 1px solid #FFF;">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-6 col-xl-2  d-block d-lg-none">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Semafore<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 main-menu">
            {{ partial "navigation_semafore.html" . }}
          </div>


          <div class="col-6 col-md-6 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up">
            
            <img src="{{ "semafore/images/landing_1.png" | relURL }}" alt="Image" class="img-fluid img-absolute" width="50%">

            <div class="row mb-4">
              <div class="col-lg-4 mr-auto">
                <h1>The secure business messaging platform</h1>
                <p class="mb-5">With us, no-one but you and your counterparty can read your messages.<br><br>Not us, no-one!</p>
                <div>
                  <a href="#" class="btn btn-primary mr-2 mb-2 subscribe">Become a Beta Tester</a>
                </div>
              </div>
              
              
            </div>

          </div>
          <div class="col-md-12 text-center" style="position: relative;display: none" data-aos="fade-right">
              <p>Available On</p>
              <a href="#" class="mr-2 mb-2">
                <img src="{{ "semafore/images/playstore.png" | relURL }}" alt="" width="200" height="85">
              </a>
              <a href="#" class="mr-3 mb-2">
                <img src="{{ "semafore/images/apple.png" | relURL }}" alt="" width="200" height="60">
              </a>
              <a href='//www.microsoft.com/store/apps/123456789123?cid=storebadge&ocid=badge' class="mr-2 mb-2">
                <img src='https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png' alt='English badge' style='width: 200px; height: 58px;'/>
              </a>
          </div>
        </div>
      </div>

      
    </div>  

    <div class="site-section bg-light" id="about-section">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col-lg-6">
            <img src="{{ "semafore/images/about_1.jpg" | relURL }}" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4">How secure are your messages with clients and staff? </h2>
            <p class="mb-4">Do you know Google alone (ignoring FaceBook, WhatsApp, Messenger) holds about 5gb of data on the average person - that's about 3 million Word documents of data that has been logged and stored somewhere you don’t know?</p>
            <p class="mb-4">Wouldn’t it be better if you could message your staff and clients on a secure platform that truly keeps all your communication secret?</p>
            <p><a href="#" class="btn btn-primary subscribe">Learn More</a></p>
          </div>
        </div>
        
      </div>
    </div>
    <div class="site-section " id="about-section">
      <div class="container">
        <div class="row mb-5">
          
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black mb-4">Privacy without Compromise</h2>
            <p class="mb-4">Most mainstream messaging apps can be compromised. Semafore is designed by security experts to ensure that this doesn’t happen. You can send your text messages, photos, and documents knowing that the Semafore doesn’t store your messages and they won’t be intercepted.</p>
            <p class="mb-4">
              Keep your business communications secure with truly end-to-end encrypted messaging. We don't even include any shared libraries, literally everything is coded from scratch to avoid a supply-chain attack.

            </p>
            <p class="mb-4">
              We can't share what we can't see. Only you know what you have sent.
            </p>
          </div>
          <div class="col-lg-7">
            <img src="{{ "semafore/images/do_ui_kit_download_cta_floating_devices-2x.png" | relURL }}" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="row mb-5 text-center">
            <div class="col-12 text-center">
              <p class=""><a href="#" class="btn btn-primary subscribe">Send Securely</a></p>
            </div>
            
        </div>

      </div>
    </div>

    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="mb-3">More than Just Messaging</h2>
          </div>
          <div class="col-12 text-center">
            <p>
              It’s the business solution you need to securely communication with you, your staff, and clients - as securely as if they were sat next to you in a locked room.
            </p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
              </div>
              <div>
                <h3>Scalable</h3>
                <p>From 2 persons to an enterprise, you can add as many licenses as you need to keep your business communication secure as your company grows.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
              </div>
              <div>
                <h3>Efficient</h3>
                <p>The messaging app is available for mobile and desktop devices. You can easily maintain secure lines of communication in and out of the office.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" >
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
              </div>
              <div>
                <h3>Secure</h3>
                <p>Your privacy is assured from device to device. Messages are encrypted and safe from outside tracking, supply chain and other harmful attacks.</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="">
      <div class="container">
        <div class="row mb-5 site-section border-bottom">
          
          <div class="pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">Business Messaging Connected with Security</h2>
            <p class="mb-4 mt-4">Semafore is the cost-effective messaging app to secure your business communication from start to finish with company-wide licenses for as many contacts as you’d like.</p>
            <ul class="ul-check mb-5 list-unstyled success mt-4">
              <li>
                <p><strong>Business Communications</strong></p>
                <p>Semafore helps you to limit security breaches and hacks. Clean code and device-to-device encryption ensure that your communication stays safely within the bounds of your organisation and the intended recipients. So, go ahead and send a message. Protect your data and communicate more efficiently with Semafore.</p>
              </li>
              <li>
                <p><strong>Advanced Security</strong></p>
                <p>We can’t read your messages, and neither can anyone else. Messages sent through this platform are secure from start to finish with end-to-end encryption. Semafore does not store your documents, photos, or text on any servers and the system doesn’t include any libraries that log and save your data. If you worry about data that messaging apps collect, then you need to shift to Semafore.</p>
              </li>
              <li>
                <p><strong>Designed by Cybersecurity Experts</strong></p>
                <p>Semafore is independently built by cybersecurity experts to be the fast, simple, safe, and secure business messaging. That means it’s clean. You won’t find any open source or third-party code that can intercept your messages, perform any tracking, or add malicious code to your texts.</p>
              </li>
              <li>
                <p><strong>Always Secure no Matter the Size</strong></p>
                <p>You won’t need to think twice about security when you or your team use Semafore. You don’t need to remember to turn on a ‘secret chat’ option. All your messages are secret chat when Semafore is involved. Plus, teams, small businesses, and enterprises – it’s easy and affordable to scale with Semafore with enterprise-wide licenses.</p>
              </li>
              <li>
                <p><strong>Ideal for Easy Collaboration</strong></p>
                <p>With desktop versions for enterprise use, and mobile app for on-the-go secure messaging, you can collaborate with ease. It is ideal for concierge services, personal assistants, lawyers because Semafore is designed to work for almost anyone providing a professional service who needs to maintain a secure communication platform.</p>
              </li>
            </ul>
            <div class="author-box">
              <div class="d-flex mb-4">
                
                <div class="mr-auto text-black">
                  <strong class="font-weight-bold mb-0">Claim Your Secure Private Messenger</strong> <br>
                </div>
              </div>
              <blockquote>We’ll never tell. Semafore is free for 1 to 2 users with affordable licenses for teams. Download on iOS or Android.</blockquote>
              <p><a href="#" class="subscribe">Sign Up</a></p>
            </div>
          </div>
        </div>

        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2">
            <img src="{{ "semafore/images/do_ui_kit_hero_floating_devices-2x.png" | relURL }}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h2 class="text-black mb-5">What Do you Need Encrypted Data Protection For?</h2>
            
            <ul class="ul-check mb-5 list-unstyled success">
              <li>
                <p class="mb-4">
                  <strong>Enterprise</strong>
                </p>
                <p class="mb-4">Semafore is designed for companies that need secure communication within the enterprise and with clients. It’s fully encrypted and enterprise ready. Incorporate as many contacts as you need and set up quickly to start using secure communications.</p>
                <p class="mb-4"><a href="#">Contact Us</a></p>
              </li>
              <li>
                <p class="mb-4">
                  <strong>Personal</strong>
                </p>
                <p class="mb-4">Take control of your personal information and the security of the information you share. Semafore is always free if you’re using it for 1 or 2 recipients. Sign up and download the App on your Android or iPhone, or desktop computer.</p>
                <p class="mb-4"><a href="#" class="subscribe">Become a Beta Tester</a></p>
              </li>
            </ul>
            

          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="mb-3">Want to Know A Secret?</h2>
            <p>Here’s Some of What Semafore Can Help You Do</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h3 class="text-black mb-4">Keep A Secret</h3>
            <p class="mb-4">Encrypt all your business and personal messages</p>
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h3 class="text-black mb-4">Share Secretly</h3>
            <p class="mb-4">Send any type of document, photos, and text</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h3 class="text-black mb-4">Maintain Secrecy</h3>
            <p class="mb-4">Synchronise your messages across devices</p>
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h3 class="text-black mb-4">Build Trust</h3>
            <p class="mb-4">Ideal for any business where security and privacy are key</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h4 class="mb-3">Secure Your Business Communications</h4>
            <p>Bring more security to your day-to-day communication. Be an early adapter to the fast and secure messaging platform. Try Semafore today and enjoy the true meaning of privacy.</p>
          </div>
        </div>
        <div class="row mb-5 text-center">
          <div class="col-12 text-center">
            <p class=""><a href="#" class="btn btn-primary">Sign Up For Beta</a></p>
          </div>
        </div>
        
      </div>
    </div>


    

    

    <div class="site-section" id="contact-section" style="display: none">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Get In Touch</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form  action="https://www.getrevue.co/profile/attomus/add_subscriber" class="p-5 bg-white" target="_blank" method="post" name="revue-form">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 



              <input type="text" class="subscribe-input" placeholder="Full Name" name="member[first_name]" id="member_first_name" />
                  <input type="text" class="subscribe-input" placeholder="Email Address" type="email" name="member[email]" id="member_email" />
                  <button type="submit" class="subscribe-buttons" value="Subscribe" name="member[subscribe]" id="member_submit">Subscribe</button>


              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control rounded-0" name="member[first_name]" id="member_first_name">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control rounded-0"name="member[last_name]" id="member_last_name">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control rounded-0" name="member[email]" id="member_email">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control rounded-0" name="member[first_name]" id="member_first_name">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>

    <div class="footer py-5 border-top text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-3">
              <img data-src="{{ "img/ATTOMUS.png" | relURL }}" class="cld-responsive" alt="Attomus logo" src="{{ "img/ATTOMUS.png" | relURL }}" width="140">        
          </div>
          <div class="col-3">
            <h4>Products</h4>
            {{ if .Site.Menus.main }}
            <ul class="list-unstyled success">
                {{ range sort .Site.Menus.main }}
                {{ if and .HasChildren (eq .Name "Products") }}


                {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

                {{ end }}
                {{ end }}
                
                
            </ul>
            {{ end }}

          </div>
          <div class="col-3">
            <h4>Services</h4>
            {{ if .Site.Menus.main }}
            <ul class="list-unstyled success">
                {{ range sort .Site.Menus.main }}
                {{ if and .HasChildren (eq .Name "Services") }}


                {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
          </div>
          <div class="col-3">
            <h4>Blog</h4>
            <ul class="list-unstyled success">
              {{ range first 3 (where .Site.Pages "Section" "blog") }}
              {{ if ne .Title "Blogs" }}
              <li>
                  <a href="{{ .RelPermalink }}">
                      {{ .Title }}
                  </a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>

  
     
    
  </div> <!-- .site-wrap -->

  <script src="{{ "semafore/js/jquery-3.3.1.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery-migrate-3.0.1.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery-ui.js" | relURL }}"></script>
  <script src="{{ "semafore/js/popper.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/bootstrap.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/owl.carousel.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery.stellar.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery.countdown.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/bootstrap-datepicker.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery.easing.1.3.js" | relURL }}"></script>
  <script src="{{ "semafore/js/aos.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery.fancybox.min.js" | relURL }}"></script>
  <script src="{{ "semafore/js/jquery.sticky.js" | relURL }}"></script>

  
  <script src="{{ "semafore/js/main.js" | relURL }}"></script>
    
  </body>
</html>
