#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;

    display: flex;
    min-height: 50px;
/*    border-bottom: 1px solid #00bcd4;  SA removed 10.10.19 to use Attomus core colours */
    border-bottom: 1px solid #00A99D;

    background: transparent;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    height: 90px;
    max-width: 80%;
    /* SA 17.05.20 added no-wrap to stop social icons changing orientation */
    /* white-space: nowrap; */


}

#searchBar {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 99999;
    width: 100%;

    background: #fff;
    border-top: 1px solid #ebeef6;
    border-bottom: 1px solid #ebeef6;
    height: 70px;
    display: none;

}

#searchBar.show {
    display: block;
}

#searchBar input {
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: #34343c;
    background: #fff;
    border: 0;
    box-shadow: none;
    padding: 0;
    font-weight: 300;

    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    height: 100%;
    ;
    border: none;
    outline: none;
}

#searchBar input::-webkit-search-cancel-button {
    position: relative;
    right: 20px;

    -webkit-appearance: none;
    display: none;
    border-radius: 10px;
}

#navbar.light {
    background: white;
}

.navbar__header {}

.navbar__header .navbar__toggle {
    display: none;
}

.navbar__header .navbar__brand {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 200px;
    background: url(/img/ATTOMUS-light-01.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar.light .navbar__header .navbar__brand {
    background: url(/img/ATTOMUS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 200px;
}


.navbar__header .navbar__brand img {
    max-width: 268.719px;
    object-fit: contain;
}

.navbar__collapse {
    flex: 1;
}

.navbar__collapse .navbar__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__collapse .navbar__nav a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    text-decoration: none;

    padding: 5px 15px;
    line-height: 20px;
    margin: 30px 5px;
    border-radius: 3px;
    display: inline-block;
    text-align: center ;

}

#navbar.light .navbar__collapse .navbar__nav a {
    color: black;
}

.navbar__collapse .navbar__nav a:hover,
.navbar__collapse .navbar__nav a:focus {
    color: #fff !important;
    background: #00A99D;
}

#navbar .navbar__collapse .navbar__nav li {
    position: relative;
}

#navbar .navbar__collapse .navbar__nav ul {
    color: black !important;
    list-style: none;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    display: none;
}

#navbar .navbar__collapse .navbar__nav ul a {
    background: white;
    color: black;
    padding: 8px 20px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    display: flex;
    ;
}

#navbar .navbar__collapse .navbar__nav ul a:hover,
#navbar .navbar__collapse .navbar__nav ul a:focus {
    color: #fff !important;
    background: #00A99D;
}

#navbar .navbar__collapse .navbar__nav li:hover ul {
    display: block;
}


.navbar__search {
    min-height: 100% !important;
    display: flex;
    align-items: center;
}

.navbar__search .search__toggle {
    margin: 0;
    padding: 0 20px 0 20px;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none !important;
}

.navbar__search .search__toggle span {
    width: 1em;
    height: 1em;
    object-fit: contain;
    filter: invert(100%);
    display: none;
}

.navbar__search .search__toggle span.show {
    display: block;
}

#navbar.light .navbar__search .search__toggle span {
    filter: invert(0)
}


/* @media (min-width: 576px) {} */

@media (max-width: 768px) {
    #navbar {
        background: white;
    }

    #navbar .navbar__header .navbar__brand {
        background: url(/img/ATTOMUS.png) !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        margin-top: 5px;
        height: 40px;
    }

    .navbar__search .search__toggle {
        margin: 0;
        padding: 0 !important;
       /* Added margin-left to stop social icons cramping search icon SA 16.5.2020 */
        margin-left: 5px;
        background: transparent;
        border: 0;
        cursor: pointer;
        outline: none !important;
    }

    #navbar .navbar__search .search__toggle img {
        filter: invert(0) !important;
    }

    #navbar .navbar__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    .navbar__header .navbar__toggle {
        display: block;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
    }

    .navbar__header .navbar__toggle img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }


    /* Icon 4 */

    #nav-icon4 {
        width: 22px;
        height: 16px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon4 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon4 {}

    #nav-icon4 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(2) {
        top: 6px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4 span:nth-child(3) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -1.125px;
        left: 2px;
    }

    #nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 14.625px;
        left: 2px;
    }


    .navbar__header .navbar__brand {
        flex: 1;
    }

    .navbar__collapse.js-navbar__collapse {
        position: absolute;
        top: 72px;
        flex-flow: column nowrap;
        background: white;
        left: 0;
        width: 100%;
        padding: 20px 0 30px 0;
        display: none;
/*        border-bottom: 1px solid #00bcd4; SA removed 10.10.19 to use Attomus core colours */
        border-bottom: 1px solid #00A99D;
    }

    .navbar__collapse.js-navbar__collapse.open {
        display: block;
    }

    .navbar__collapse.js-navbar__collapse .navbar__nav {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar__collapse.js-navbar__collapse .navbar__nav li {
        width: 100%;
    }

    .navbar__collapse.js-navbar__collapse .navbar__nav a {
        color: black;
        display: flex;
        padding: 8px 2px;
        margin: 0;
        width: 80%;
        margin: 0 auto;
        border-radius: 0;
        border: none;
        display: flex;
        border-bottom: 1px solid #ebeef6;
    }


    #navbar .navbar__collapse .navbar__nav li ul {
        position: unset !important;
        display: block !important;
        width: 70%;
        margin: 0 0 0 20%;
        padding: 10px 0;
    }

    #navbar .navbar__collapse .navbar__nav li ul a {
        border-bottom: 1px solid #ebeef6;
        padding: 8px 0;
        margin: 0;
    }
}

@media (max-width: 992px) {
    #navbar {
        padding-right: 5%;
        padding-left: 5%;
        height: 72px;
        max-width: 90%;
    }

    #searchBar {
        top: 72px;
        height: 56px;
    }

    #searchBar input {
        height: 56px;
        font-size: 16px;
        padding-right: 5%;
        padding-left: 5%;
    }

    .navbar__header .navbar__brand {
        min-width: 184px;
    }

    #navbar.light .navbar__header .navbar__brand {
        min-width: 160px;
    }


    .navbar__header .navbar__brand img {
        max-width: 215px;
    }


    .navbar__collapse .navbar__nav a {
        font-size: 9.6px;
        padding: 4px 12px;
        line-height: 16px;
        margin: 24px 4px;
    }

    #navbar .navbar__collapse .navbar__nav ul {
        width: 160px;
    }

    #navbar .navbar__collapse .navbar__nav ul a {
        padding: 6.4px 16px;
    }

    .navbar__search .search__toggle {
        padding: 0 64px 0 16px;
    }

    .navbar__search .search__toggle img {
        width: 1.4em;
        min-width: 1.4em;
        max-width: 1.4em;
        height: 1.4em;
        min-height: 1.4em;
        max-height: 1.4em;
    }

}

