{{ partial "header" . }}

<main>
    <div class="about-us">
        <div class="about-us__header">
            <div class="about-us__blur">

                <h2>About Us</h2>
                <p><a href="/">Attomus</a> / About Us</p>

            </div>
        </div>

        <div class="about-us__content">

            <p><b>ATTOMUS</b> is an advanced technology company offering security services, technology applications, and
                management consultancy for corporations and government entities in the UK and globally. Our services
                are geared at optimising processes and business management across vertical and horizontal firms that
                need advanced technological solutions for security, risk management, and to generate business growth.
                We are a UK-based company that merges quality security knowledge and experience with customised
                sustainable solutions and services. As an integrated security and technology company, we offer
                strategic and operational business solutions. We also deliver Project Management as a Service providing
                professional support for discreet and effective management of complex projects requiring expert
                knowledge.</p>

            <h3>Our Mission ...</h3>

            <p>Our Mission is to provide cutting-edge technological solutions that drive security and protection at
                business and national levels. We accomplish this through our suite of services aimed at building
                capacity, strengthening responses, and securing online and physical assets.</p>

            <h3>We offer:</h3>
            <ul>
                <li>Comprehensive cybersecurity solutions from threat detection, risk assessment, penetration testing,
                    wargaming</li>

                <li>Leading technological services for web and enterprise development; programme management; P3O
                    systems delivery</li>

                <li>Executive management services to assist senior executives and companies at the individual and board
                    levels</li>

                <li>Physical security for close protection, surveillance, and asset protection</li>
            </ul>
            <h3>CLIENTS and PARTNERS</h3>
            <p>Our clients and partners are companies and organisations throughout the public and private sectors in a
                variety of industries across Great Britain, the USA, and other countries across the globe. Able to meet
                ISO/IEC 27000 compliance standards our clients trust us to deliver expert security and technology
                solutions for their operations.</p>
        </div>

        <div class="about-us__clients">
            <div class="attomus-clients">
                <div>
                    <a href="http://www.homeoffice.gov.uk">
                        <img data-src="/img/home-office-logo-png-transparent-256x221.png"
                            class="cld-responsive" alt="UK Home Office">
                        <p>UK Home Office</p>
                    </a>
                </div>
                <div>
                    <a href="https://fco.gov.uk">
                        <img data-src="/img/Foreign-Commonwealth-Office-1-256x221.jpg"
                            class="cld-responsive" alt="UK Foreign and Commonwealth Office">
                        <p>Foreign & Commonwealth Office</p>
                    </a>
                </div>
                <div>
                    <a href="http://www.qinetiq.com">
                        <img data-src="/img/Boeing-Defence-256x221.jpg"
                            class="cld-responsive" alt="Boeing Defence">
                        <p>Boeing Defence</p>
                    </a>
                </div>
                <div>
                    <a href="http://www.met.police.uk">
                        <img data-src="/img/Metropolitan-Police-1-256x221.jpg"
                            class="cld-responsive" alt="Metropolitan Police Force">
                        <p>Metropolitan Police</p>
                    </a>
                </div>
                <div>
                    <a href="http://mod.gov.uk">
                        <img data-src="/img/Ministry-of-Defence-256x221.jpg"
                            class="cld-responsive" alt="UK Ministry of Defence">
                        <p>Ministry of Defence</p>
                    </a>
                </div>
                <div>
                    <a href="http://qinetiq.com">
                        <img data-src="/img/qinetiq.svg"
                            class="cld-responsive" alt="QinetiQ">
                        <p>QinetiQ</p>
                    </a>
                </div>
                <div>
                    <a href="http://www.bnpparibas.co.uk/en/">
                        <img data-src="/img/q5uKr-3d_400x400-256x221.jpg"
                            class="cld-responsive" alt="BNP Paribas Bank">
                        <p>BNP Paribas</p>
                    </a>
                </div>
                <div>
                    <a href="https://www.parliament.uk/lords/">
                        <img data-src="/img/X8-chCh2_400x400-256x221.jpg"
                            class="cld-responsive" alt="UK House of Lords">
                        <p>UK House of Lords</p>
                    </a>
                </div>
                <div>
                    <a href="https://www.parliament.uk/business/commons/">
                        <img data-src="/img/CUrjULQI_400x400-256x221.jpg"
                            class="cld-responsive" alt="UK House of Commons">
                        <p>UK House of Commons</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="about-us__flat-row--left">
            <div class="about-us__flat-row__content black">
                <h2>Customers</h2>
                <ul>
                    <li>
                        <div class="img-wrapper">
                            <img data-src="/img/font-awesome_4-7-0_institution_256_0_00a99d_none.png"
                                class="cld-responsive" alt="Government institutions">
                        </div>
                        <div>
                            <h3>Government Institutions</h3>
                            <p>Define strategic risk management procedures and cybersecurity approaches for
                                comprehensive
                                security</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <img data-src="/img/font-awesome_4-7-0_expeditedssl_256_0_00a99d_none.png"
                                class="cld-responsive" alt="National security and law enforcement">
                        </div>
                        <div>
                            <h3>National Security & Law Enforcement Agencies</h3>
                            <p>Proactive and reactive security solutions for defensive and offensive use</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <img data-src="/img/font-awesome_4-7-0_dollar_256_0_00a99d_none.png"
                                class="cld-responsive" alt="Financial Services">
                        </div>
                        <div>
                            <h3>Financial Services</h3>
                            <p>Compliance requirements; fraud prevention; security services; secure customer
                                information</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-wrapper">
                            <img data-src="/img/font-awesome_4-7-0_medkit_256_0_00a99d_none.png"
                                class="cld-responsive" alt="Healthcare hospitals">
                        </div>
                        <div>
                            <h3>Healthcare</h3>
                            <p>Fraud prevention; secure transit; information protection.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about-us__flat-row__image">
                <img data-src="/img/609a1ce5b3012f9fb60c84a73b4fee6a_another-building-low-res-maybe-500-375-c-100.jpg"
                    class="cld-responsive" alt="about Attomus">
            </div>
        </div>

        <div class="about-us__flat-row--right">
            <div class="about-us__flat-row__content">
                <h2>Security</h2>
                <p>Attomus is the default specialist for Cyber Security and Technology Services for Government
                    institutions and private organisations.</p>
                <p>We are a technology partner with Atlassian, able to provide support, advice and guidance in all
                    Atlassian products to everyone and are the only partner able to specialise in secure Government
                    environments.</p>
                <p>We are at the forefront of technological advances in data handling and how the data is moved between
                    user and storer, ATTOMUS TECHNOLOGY.</p>
                <p>Our services are geared at optimising processes and business management across vertical and
                    horizontal firms that need advanced technological solutions for security, risk management and to
                    generate business growth.</p>
                <p>As an integrated security and technology company, we offer strategic and operational business
                    solutions. We also deliver Project Management as a Service providing professional support for
                    discreet and effective management of complex projects requiring expert.</p>
            </div>
            <div class="about-us__flat-row__image">
                <img data-src="/img/0bd5cd11d4b551a0c669f64174afe9cf_509ff3ece9543824e74b8abd0e2c6731_guard-465-465-c-100-465-465-c-100.jpg"
                    class="cld-responsive" alt="about Attomus - military personnel">
            </div>
        </div>

        <div class="about-us__flat-row--left">
            <div class="about-us__flat-row__content">
                <h2>Our People</h2>
                <p>We are a diverse group of UK/US/NATO cleared individuals with SC and DV level vetting. Our
                    backgrounds span the UK and US Special Forces, Security Services and Intelligence. We've garnered their experiences
                    the hard way and we enjoy what we do. We are secure and discreet in all assignments, operate across
                    numerous jurisdictions, and are multilingual in relevant languages. Committed to addressing cyber
                    threats, digital security, physical threats and to delivering powerful technological applications
                    and services to entities large and small. The leadership team comes with extensive project
                    management experience and we work with high profile companies and on high-risk projects. We are
                    trusted advisors and sought-after consultants for business IT requirements and safety solutions.</p>
            </div>
            <div class="about-us__flat-row__image">
                <img data-src="/img/7db55ddb7fedca767fa6b531c63516f6_pexels-photo-9816-1-465-465-c-100.jpeg"
                    class="cld-responsive" alt="Attomus people">
            </div>
        </div>

        <div class="about-us__flat-row--right">
            <div class="about-us__flat-row__content">
                <h2>Proud To Be An Atlassian Solution Partner</h2>
                <p>Implementing the entire Atlassian stack into secure government environments, and innovating in
                    DevOps into the High Assurance Space.</p>
                <ul>
                    <li>Confluence</li>
                    <li>JIRA</li>
                    <li>JIRA Service Desk</li>
                    <li>Bitbucket</li>
                    <li>Pipelines</li>
                </ul>
            </div>
            <div class="about-us__flat-row__image">

                <img data-src="/img/adef2fcf63bc55549909af12b9e1392e_atlasium-2-465-465-c-100.jpg"
                    class="cld-responsive" alt="Atlassian Solution Partner">
            </div>
        </div>

        <div class="about-us__flat-row--left">
            <div class="about-us__flat-row__content">
                <h2>ATTOMUS TECH</h2>
                <p><strong><em>Research and Development</em></strong></p>
                <p>ATTOMUS builds capacity and capability through information security research and development. We
                    provide valuable services and solutions to issues and threats faced by government agencies and
                    corporations. Our R&D team is enthusiastic about innovative research to provide solutions for the
                    most pressing security and compliance issues. Solutions are developed for legacy systems that are
                    not easily replaced or from the ground up.</p>
                <p>Our R&D priority areas include:</p>
                <ul>
                    <li>Cyber Analytics</li>
                    <li>Predictive Offence</li>
                    <li>Adaptive Engineering</li>
                    <li>Trust Systems</li>
                    <li>Enterprise-level metrics</li>
                </ul>
                <p>Our Research and Development clients have included government departments, national security
                    agencies, and corporate entities. Corporations benefit from defensive products that meet regulatory
                    compliance requirements for real-time attack response. Statutory bodies receive government grade
                    security systems. We have also developed offensive products for law enforcement and other
                    government entities.</p>
            </div>
            <div class="about-us__flat-row__image">
                <img data-src="/img/c78cdf876528a0827ba59233eedae36f_Profile-Picture@1x1-465-465-c-100.jpg"
                    class="cld-responsive" alt="Attomus Logo">
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.6/min/tiny-slider.js"></script>
    <script type="module">
        // import {tns} from './src/tiny-slider.js';
        
        var slider = tns({
            container: '.attomus-clients',
            items: 5,
            slideBy: 'page',
            autoplay: true,
            controls: false,
            nav: false,
            autoplayButtonOutput: false,
            mouseDrag: true,
            fixedWidth: 160,
            gutter: 30
        });
    </script>

</main>

{{ partial "footer" . }}